In [1]:
from collections import Counter

In [2]:
a=[1,1,1,2,3,3,4,4,3,4,2,1,3,5,6]
c=Counter(a)
print(c)

Counter({1: 4, 3: 4, 4: 3, 2: 2, 5: 1, 6: 1})

In [3]:
#hash table and hash map

In [ ]:
#dictionaries

In [5]:
my_dict={'Srijon':'001','Joe':'002','Smith':'003'}
print(my_dict)
type(my_dict)

{'Srijon': '001', 'Joe': '002', 'Smith': '003'}

dict

In [6]:
new_dict=dict()
print(new_dict)
type(new_dict)

{}

dict

In [7]:
new_dict=dict(Dave='001',Steve='002')
print(new_dict)

{'Dave': '001', 'Steve': '002'}

In [8]:
#nested Dictionaries

In [13]:
emp_det={'Employee':
         {'Dean':
           {'id':'001','salary':'20000','Designation':'Manager'},
          'Srijon':
           {'id':'002','salary':'40000','Designation':'Project_leader'},
          'Steve':
           {'id':'003','salary':'70000','Designation':'Marketing_leader'}
         }
        }

In [14]:

print(emp_det)

{'Employee': {'Dean': {'id': '001', 'salary': '20000', 'Designation': 'Manager'}, 'Srijon': {'id': '002', 'salary': '40000', 'Designation': 'Project_leader'}, 'Steve': {'id': '003', 'salary': '70000', 'Designation': 'Marketing_leader'}}}

In [16]:
print(my_dict.values())

dict_values(['001', '002', '003'])

In [18]:
print(emp_det.get('Employee'))

{'Dean': {'id': '001', 'salary': '20000', 'Designation': 'Manager'}, 'Srijon': {'id': '002', 'salary': '40000', 'Designation': 'Project_leader'}, 'Steve': {'id': '003', 'salary': '70000', 'Designation': 'Marketing_leader'}}

In [19]:
for x in my_dict.values():
    print(x)

001
002
003

In [21]:
for x,y in my_dict.items():
    print(x,y)

Srijon 001
Joe 002
Smith 003

In [23]:
my_dict['Virat']='004'
print(my_dict)

{'Srijon': '001', 'Joe': '002', 'Smith': '003', '002': 'Virat', 'Virat': '004'}

In [25]:
my_dict.pop('Virat')

'004'

In [28]:
del my_dict['002']

In [29]:
print(my_dict)

{'Srijon': '001', 'Joe': '002', 'Smith': '003'}

# dictionary to Dataframe using Pandas

In [31]:
import pandas as pd

In [32]:
df=pd.DataFrame(emp_det['Employee'])
print(df)

                Dean          Srijon             Steve
id               001             002               003
salary         20000           40000             70000
Designation  Manager  Project_leader  Marketing_leader

In [33]:
x=10
x//=5

In [34]:
print(x)

2

In [35]:
2<<1

4

In [36]:
2<<2

8

In [37]:
3<<1

6

In [38]:
3<<2

12

In [39]:
2<<3

16

In [40]:
2>>1

1

In [41]:
4>>1

2

In [42]:
7>>1

3